*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  background: url("../images/wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navleft,
.navright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.navright {
  margin-right: 3rem;
}

.pride_heading {
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem;
}

.pride_links {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 1rem;
  margin-left: 3rem;
}

.pride_links:hover {
  border-bottom: 2px solid rgb(35, 206, 63);
}

.input_container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin-right: 2rem;
}

.nav_input {
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 15px;
}

.search_container {
  width: 30px;
  height: 30px;
}

.search {
  width: 100%;
}

.profile_container {
  width: 40px;
  height: 40px;
}

.profile {
  width: 100%;
}

.courses,
.about_us {
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  background-color: #fff;
  text-align: start;
  padding: 2rem 0.5rem;
  border-radius: 10px;
  display: none;
}

.courses {
  position: absolute;
  top: 7rem;
  left: 35rem;
}

.about_us {
  position: absolute;
  top: 7rem;
  left: 46rem;
}

.courses a,
.about_us a {
  font-weight: 700;
  color: #2f2faf;
}

.courses a:hover,
.about_us a:hover {
  border-bottom: 2px solid rgb(35, 206, 63);
}
